
/* Home page */
@media (max-width: 768px) {
    .why_donate {
      flex-direction: column;
      text-align: center;
    }
    .why_text ul {
      text-align: center;
      margin-left: 0;
    }
    .how_works_content {
      flex-direction: column;
      gap: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .home_content {
      padding: 40px 20px;
      margin: 10px;
    }
  
    .joinus,
    .login {
      font-size: 20px;
      padding: 10px 30px;
      max-width: 150px;
    }
  
    .why_donate {
      padding: 40px 20px;
      gap: 20px;
    }
  
    .why_text h2 {
      font-size: 28px;
    }
  
    .why_text p {
      font-size: 16px;
    }
  
    .image img {
      width: 100%;
    }
  
    .charity_text p {
      font-size: 16px;
      padding: 30px 10px;
    }
  
    .impact_info1,
    .impact_info2 {
      font-size: 16px;
      padding: 30px;
    }
  
    .image2 img,
    .image3 img {
      width: 100%;
    }
  
    .steps_container {
      gap: 20px;
    }
  
    .step1,
    .step2,
    .step3,
    .step4,
    .step5 {
      padding: 20px;
    }
  
    .Please_Donate {
      padding: 20px;
      font-size: 14px;
    }
  
    .Please_Donate h3 {
      font-size: 18px;
    }
  
    .comments p {
      padding: 40px 20px;
      font-size: 16px;
    }
  
    .Header h2 {
      font-size: 24px;
    }
  
    .Header p {
      font-size: 14px;
    }
  }
  

/* Login + Sign up page */
@media screen and (max-width: 768px) {
    .middle {
      margin: 20px;
      padding: 30px 20px 40px 20px;
    }
  
    .input-box input {
      width: 80%;
    }
  
    .btn {
      width: 60%;
    }
    
  }

/* User + Charity dashboard page */

@media (max-width: 768px) {
    .user-dashboard-container,
    .charity-dashboard-container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 20px;
    }
  
    .links {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .stats-container {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .dashboard-right {
      width: 100%;
    }
  
    .donation-history table,
    .charity-list table {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      margin: 8px 0;
    }
  }
  


